*.lock
SWTest/CodegroundNode_JAVA/.metadata/.log
SWTest/CodegroundNode_JAVA/.metadata/version.ini
SWTest/CodegroundNode_JAVA/.metadata/
SWTest/CodegroundNode_JAVA/.recommenders/caches/
SWTest/CodegroundNode_JAVA/.recommenders
*.classpath
*.project
*.prefs
*.class
*.sln
*.suo
SWTest/CodegroundNote/DataStructure/.vs/DataStructure
*.vcxproj
*.filters
*.obj
SWTest/CodegroundNote/DataStructure/DataStructure/Debug/
*.exe
*.user
SWTest/CodegroundNote/DataStructure/Debug/DataStructure.ilk
*.pdb
